# Python & Django
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
ENV/

# Environment files
.env
.env.local

# Media & static
media/
staticfiles/

# IDEs
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# OS files
.DS_Store
Thumbs.db

# Logs & temp
*.log
*.pid
*.seed
*.pid.lock

# Build/dist
build/
dist/
*.egg-info/

# Ignore specific migration files
*/migrations/000*.py

*/migrations

./migrations/000*.py